body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Cambiado para que los elementos estén uno debajo del otro */
    justify-content: center;
    align-items: center;
    margin: 0;
}

.contenedor1 {
    font-size: 2em;
    text-align: center;
    margin: 10px;
    color: #1E90FF;
}

.contenedor2 {
    font-size: 2em;
    text-align: center;
    margin: 10px;
    color: darkblue;
}

.contenedor3 {
    font-size: 2em;
    text-align: center;
    margin: 10px;
    color: springgreen;
}